@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --animate-new-bounce: bounce1 1s infinite; /* bounce 1s infinite */

  @keyframes bounce1 {
    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  --animate-shadow: shadow-bounce 1s infinite;
  @keyframes shadow-bounce {
    0%,
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    }
    50% {
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
